  .footer{
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(228, 228, 228);
  height: 15px;
}
.notifications-count {
  position: absolute;
  top: -1px;
  right: -2px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 5px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  border-radius: 1px;
}

.current-user-picture {
  height: 11px;
  border-radius: 1px;
}
.search-bar {
  flex: 1;
  height: 8px;
  padding-left: 4px;
  font-size: 6px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 1px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.middle-section {
  flex: 1;
  margin-left: 40px;
  margin-right: 15px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-button {
  height: 11px;
  width: 16px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.voice-search-button {
  height: 8px;
  width: 13px;
  border-radius: 1px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.hamburger-menu {
  height: 11px;
  margin-left: 11px;
  margin-right: 11px;
}

.youtube-logo {
  height: 11px;
}
.search-bar::placeholder {
  font-size: 5px;
}
.search-button,
.voice-search-button,
.upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  font-size: 5px;
  bottom: -15px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
  opacity: 1;
}
.search-icon {
  height: 4px;
}
.voice-search-icon {
  height: 4px;
}
.right-section {
  width: 180px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload-icon {
  height: 8px;
}
.youtube-apps-icon {
  height: 8px;
}
.notifications-icon {
  height: 8px;
}
.notifications-icon-container {
  position: relative;
}
